table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: blueviolet;
}

.selected {
  background-color: #d3d3d3;
}

button {
    margin: 5px;
    padding: 3px;
    border: 1px;
    background-color: lightgray;
}
