<p>Hier werden die Teilnehmer angezeigt und die Anwesenheit überprüft!</p>

<div>
  <h2>Neuen Teilnehmer hinzufügen</h2>
  <form (ngSubmit)="addOrUpdateTeilnehmer()">
    <div>
      <label for="vorname">Vorname:</label>
      <input type="text" id="vorname" [(ngModel)]="newTeilnehmer.vorname" name="vorname" required>
    </div>
    <div>
      <label for="nachname">Nachname:</label>
      <input type="text" id="nachname" [(ngModel)]="newTeilnehmer.nachname" name="nachname" required>
    </div>
    <button mat-flat-button color="primary" type="submit">{{ selectedObject ? 'Teilnehmer aktualisieren' : 'Teilnehmer hinzufügen' }}</button>
  </form>
</div>

<div>
  <h2>Teilnehmerliste</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teilnehmer of objects" (click)="onSelect(teilnehmer)" [class.selected]="selectedObject === teilnehmer">
        <td>{{ teilnehmer.id }}</td>
        <td>{{ teilnehmer.vorname }}</td>
        <td>{{ teilnehmer.nachname }}</td>
        <td>
          <button mat-flat-button color="primary" (click)="onEdit(teilnehmer); $event.stopPropagation()">Bearbeiten</button>
          <button mat-flat-button color="warn" [disabled]="!selectedObject || selectedObject !== teilnehmer" (click)="onDelete(teilnehmer); $event.stopPropagation()">Löschen</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <app-anwesenheitsliste></app-anwesenheitsliste>
</div>
